<% title 'Solicitação de código de rastreio do Correios' %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 bg-dark" style="border-radius:10px; margin: 5px;">
    <div class="page-header">
      <h5><i class="fa-solid fa-spinner fa-spin text-info h5"></i> <span class="badge bg-success">On</span> Fila -  <span class="badge bg-danger"> Solicitação de código de rastreio do Correios </span></h5>
    </div>
    <% if @push_tracking.present? %>
      <div class="card bg-secondary" style="overflow-x:scroll;">
        <table class="table table-dark table-hover table-responsive" >
          <thead>
            <tr>
              <th width="50" class="text-center"><i class="fa fa-ellipsis-v"></i></th>
              <th class="text-center"><%= Attempt.human_attribute_name :tiny_order_id %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :order_correios_id %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :id_nota_fiscal %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :kinds %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :status %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :status_code %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :error %></th>
              <th class="text-center"><%= Attempt.human_attribute_name :created_at %></th>
            </tr>
          </thead>
          <tbody>
            <% @push_tracking.each do |att| %>
            <tr>
                <td>
                  <span class="btn btn-secondary"><%= link_to verify_attempts_attempts_path(tiny_order_id: att.tiny_order_id), class: 'text-light', method: :post, target: '_blank' do %> <i class="fa-solid fa-paperclip"></i> <% end %></span></td>
                <td class="text-center" style="min-width:12em;">
                  <%= att.tiny_order_id %> -
                  <span class="badge bg-primary" style="cursor: pointer;" onclick="window.open('<%=ENV.fetch('TINY_SELLS_URL')%>#edit/<%= att.tiny_order_id %>', '_blank');">
                    Ver no Tiny
                  </span>
                </td>
                <td class="text-center"><%= att.order_correios_id %></td>
                <td class="text-center"><%= att.id_nota_fiscal %></td>
                <td class="text-center"><%= att.kinds %></td>
                <td class="text-center"><%= att.status %></td>
                <td class="text-center"><%= att.status_code %> - <%= att.message %></td>
                <td class="text-center"><%= att.error.present? ? att.error : "<span class='badge bg-secondary'>x</span>".html_safe %></td>
                <td class="text-center"><%= att.created_at.strftime('%d/%m/%Y %H:%M') %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
            
            </tr>
          </tfoot>
        </table>
      </div>
    <% else %>
      <div class="alert alert-dark">
        Sem resultados para a situação selecionada
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.table').DataTable({
    });
  });
</script>