<div class="row">
  <% title 'Lista de Perfis' %>
</div>

<%= link_to new_profile_path, class: 'btn btn-sm btn-primary text-light mb-lg' do %> 
  <i class="fa fa-plus"></i> Novo perfil
<% end %>

<%= form_tag(profiles_path, method: 'get') do %>
  <div class="card mb-lg advanced-search-form bg-dark text-light" id="filters">
    <div class="card-header text-info">
      Pesquisa avançada
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <%= label_tag :search, 'Procurar' %>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Pesquise por nome, email ou telefone' %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= button_tag class: 'btn btn-secondary text-info', name: '' do %><i class="fa fa-search text-info"></i> Pesquisar<% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12">
    <table class="table table-dark table-hover table-responsive" style="overflow-x: scroll;" id="profiles-table">
      <thead>
        <tr>
          <th width="50" class="text-center"><i class="fa fa-ellipsis-v"></i></th>
          <th class="text-center"><%= 'ID' %></th>
          <th class="text-center"><%= Profile.human_attribute_name :name %></th>
          <th class="text-center"><%= Profile.human_attribute_name :created_at %></th>
        </tr>
      </thead>
      <tbody>
        <% @profiles.each do |profile| %>
          <tr>
            <td class="text-center">
              <%= link_to edit_profile_path(profile), class: 'btn btn-sm btn-primary text-light' do %> 
                <i class="fa fa-pencil-alt"></i>
              <% end %>
            </td>
            <td class="text-center"><%= profile.id %></td>
            <td class="text-center"><%= profile.name %></td>
            <td class="text-center"><%= profile.created_at.strftime('%d/%m/%Y %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7">
            <%= page_entries_info @profiles %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<%= will_paginate @profiles, list_classes: %w[pagination justify-content-center mt-lg], inner_window: 1 %>
