<%= form_for(user, as: user, html: { autocomplete: 'off' }, data: { disabled: read_only }) do |form| %>
  <div class="bg-dark p-4">
    <div class="page-header text-primary">
      <h4>
        <%= user.new_record? ? "Criar Usuário" : "Atualizar Usuário" %>
        <small class="text-secondary"> Informações do usuário</small>
      </h4>
    </div>

    <div class="row">
      <%= form.label 'Nome', class: 'col-form-label text-secondary' %>
      <div class="col-12">
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="row">
      <%= form.label 'Email', class: 'col-form-label text-secondary' %>
      <div class="col-12">
        <%= form.email_field :email, class: 'form-control', required: true %>
      </div>
    </div>

    <% if user.new_record? %>
      <div class="row">
        <%= form.label 'Senha', class: 'col-form-label text-secondary' %>
        <div class="col-12 mb-3">
          <%= form.password_field :password, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="row">
        <%= form.label 'Confirmação de Senha', class: 'col-form-label text-secondary' %>
        <div class="col-12 mb-3">
          <%= form.password_field :password_confirmation, class: 'form-control', required: true %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <%= form.label 'Perfil', class: 'col-form-label text-secondary' %>
      <div class="col-12">
        <%= form.collection_select :profile_id, @profiles, :id, :name, { include_blank: 'Selecione um perfil' }, { class: 'form-control' } %>
      </div>
    </div>

    <div class="panel-buttons bg-secondary">
      <%= link_to users_path, class: 'btn btn-dark btn-lg' do %>
        <i class="fa fa-undo"></i> Voltar
      <% end %>
      <% unless read_only %>
        <%= form.button class: 'btn btn-primary btn-lg', data: { disable_with: user.new_record? ? 'Criando...' : 'Salvando...' } do %>
          <i class="fa fa-save"></i> <%= user.new_record? ? 'Criar Usuário' : 'Atualizar Usuário' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
