<div class="nested-fields" id="order-product-container">
  <div class="row mb-3" data-tag-id="<%= f.object.id %>">
    <div class="col-md-5">
      <%= f.label :product_id, 'Produto', class: 'form-label text-white' %>
      <%= f.select :product_id,
                  options_for_select(@products.map { |v| ["#{v.nome}", v.id] }, f.object.product_id),
                  { include_blank: 'Selecione o Produto' },
                  class: 'form-select bg-dark text-white border-secondary select2 product-select' %>
    </div>
    <div class="col-md-3">
      <%= f.label :quantidade, 'Quantidade', class: 'form-label text-white' %>
      <%= f.number_field :quantidade, class: 'form-control bg-dark text-white border-secondary quantidade', min: 1, value: f.object.quantidade || 1 %>
    </div>
    <div class="col-md-3">
      <%= f.label :price, 'Preço uni R$', class: 'form-label text-white' %>
      <div class="input-group">
        <span class="input-group-text bg-dark border-secondary text-white">R$</span>
        <%= f.text_field :price, class: 'form-control bg-dark text-white border-secondary price', value: f.object.price, required: true %>
      </div>
    </div>
    <div class="col-md-1 d-flex align-items-end justify-content-center">
      <% if params[:action] != 'show' %>
        <%= link_to_remove_association f, class: 'btn btn-outline-danger' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>