<div class="nested-fields" id="order-payment-container">
  <div class="row">
    <div class="col-3">
      <%= f.label :order_payment_type_id, 'Tipo de Pagamento' %>
      <%= f.select :order_payment_type_id,
             options_for_select(@payment_types.map { |t| ["#{t.payment_method} - #{t.payment_channel}", t.id] }, f.object.order_payment_type_id),
             {},
             class: 'form-control select2' %>
    </div>
    <div class="col-2">
      <%= f.label :amount, 'Valor (R$)' %>
      <%= f.text_field :amount, class: 'form-control', value: f.object.amount, required: true %>
    </div>
    <div class="col-3">
      <%= f.label :date, 'Data' %>
      <%= f.date_field :date, class: 'form-control', value: f.object.date || Date.today %>
    </div>
    <div class="col-3">
      <%= f.label :note, 'Observação' %>
      <%= f.text_field :note, class: 'form-control', value: f.object.note %>
    </div>
    <div class="col-1">
      <% if params[:action] != 'show' %>
        <div class="row">
          <div class="col-2">
            <%= link_to_remove_association f, class: 'btn btn-danger mt-3' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
