<tr class="nested-fields">
  <td class="payment-type-row">
    <div class="payment-type">
      <%= f.select :order_payment_type_id,
                  options_for_select(@payment_types.map { |t| ["#{t.payment_method} - #{t.payment_channel}", t.id] }, f.object.order_payment_type_id),
                  { include_blank: 'Selecione o tipo de pagamento' },
                  class: 'form-select bg-dark text-white border-secondary select2' %>
    </div>
  </td>
  <td>
    <div class="input-group">
      <span class="input-group-text bg-dark border-secondary text-white">R$</span>
      <%= f.text_field :amount, class: 'form-control bg-dark text-white border-secondary', required: true %>
    </div>
  </td>
  <td>
    <%= f.date_field :date, class: 'form-control bg-dark text-white border-secondary' %>
  </td>
  <td>
    <%= f.text_field :note, class: 'form-control bg-dark text-white border-secondary' %>
  </td>
  <td class="text-center">
    <% if params[:action] != 'show' %>
      <%= link_to_remove_association f, class: 'btn btn-outline-danger' do %>
        <i class="fas fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>