<div class="row">
  <% case params[:kinds] %>
  <% when 'primeiros_passos' %>
    <% title 'Pedidos Tiny - Primeiros Passos' %>
  <% when 'agua_na_caixa' %>
    <% title 'Pedidos Tiny - Água na Caixa' %>
  <% end %>
</div>

<div class="alert alert-dark mb-2"><i class="fa-solid fa-spinner fa-spin text-success"></i> Última atualização: <%= Time.now.strftime('%d/%m/%Y %H:%M') %></div>

<div class="row">
  <div class="col-12">
    <table class="table table-dark table-hover table-responsive" style="overflow-x: scroll;" id="attemps-table">
      <thead>
        <tr>
          <th width="50" class="text-center"><i class="fa fa-ellipsis-v"></i></th>
          <th class="text-center"><%= 'id' %></th>
          <th class="text-center"><%= 'numero' %></th>
          <th class="text-center"><%= 'numero_ecommerce' %></th>
          <th class="text-center"><%= 'data_pedido' %></th>
          <th class="text-center"><%= 'data_prevista' %></th>
          <th class="text-center"><%= 'nome' %></th>
          <th class="text-center"><%= 'valor' %></th>
          <th class="text-center"><%= 'situacao' %></th>
        </tr>
      </thead>
      <tbody>
        <% @all_orders.each do |order| %>
          <tr>
            <td class="text-center"><i class="fa fa-ellipsis-v"></i></td>
            <td class="text-center"><%= order[:pedido][:id] %></td>
            <td class="text-center"><%= order[:pedido][:numero] %></td>
            <td class="text-center"><%= order[:pedido][:numero_ecommerce] %></td>
            <td class="text-center"><%= order[:pedido][:data_pedido] %></td>
            <td class="text-center"><%= order[:pedido][:data_prevista] %></td>
            <td class="text-center"><%= order[:pedido][:nome] %></td>
            <td class="text-center"><%= number_to_currency(order[:pedido][:valor], unit: "R$", separator: ",", delimiter: ".") %></td>
            <td class="text-center">
              <%= case order[:pedido][:situacao]
                when 'Aprovado'
                  '<span class="badge badge-success">Aprovado</span>'.html_safe
                when 'Faturado'
                  '<span class="badge badge-primary">Faturado</span>'.html_safe
                when 'Cancelado'
                  '<span class="badge badge-danger">Cancelado</span>'.html_safe
                when 'Enviado'
                  '<span class="badge badge-warning">Enviado</span>'.html_safe
                when 'Em aberto'
                  '<span class="badge badge-light">Em aberto</span>'.html_safe
                else
                  order[:pedido][:situacao]
                end
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
      $('.table').DataTable();
  });
</script>

