<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link active bg-dark text-light" aria-current="page" data-bs-toggle="tab" href="#form-tab"><i class="fa-regular fa-address-book"></i> Contato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link bg-dark text-light" data-bs-toggle="tab" href="#table-tab"><i class="fa-solid fa-clock-rotate-left"></i> Histórico de Pedidos</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="form-tab">
    <%= form_for(@contact, html: { autocomplete: 'off' }, data: { disabled: read_only }) do |form| %>
      <div class="bg-dark p-4">
        <div class="page-header text-primary">
          <h4>
            <%= @contact.new_record? ? "Criar Contato" : "Atualizar Contato" %>
            <small class="text-secondary"> Informações do contato</small>
          </h4>
        </div>
        <%= form.hidden_field :origin, value: params[:origin] %>
        
        <div class="row mb-3">
          <div class="col-md-3">
            <%= form.label :segment, 'Tipo do Segmento', class: 'col-form-label text-info' %>
            <%= form.select :segment, options_for_select([
                ['Alimentos', 'food'],
                ['Varejo', 'varejo'],
                ['Corporativo', 'corporativo'],
                ['Eventos', 'eventos'],
                ['Farmácia', 'farma'],
                ['Conveniência', 'conveniencia'],
                ['Hotel', 'hotel'],
                ['Distribuidores', 'distribuidores']
              ], form.object.segment), {}, class: 'form-control select2' %>
          </div>

          <div class="col-md-3">
            <%= form.label :order_payment_type_id, 'Preferência de Pagamento', class: 'col-form-label text-info'  %>
            <%= form.select :order_payment_type_id,
                options_for_select(@order_payment_types.map { |t| ["#{t.payment_method} - #{t.payment_channel}", t.id] }, form.object.order_payment_type_id),
                {},
                class: 'form-control select2' %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <%= form.label :codigo, 'Código', class: 'col-form-label text-secondary' %>
            <%= form.text_field :codigo, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :nome, 'Razão Social', class: 'col-form-label text-secondary' %>
            <%= form.text_field :nome, class: 'form-control form-control-lg'%>
          </div>
          <div class="col-md-3">
            <%= form.label :fantasia, 'Fantasia', class: 'col-form-label text-secondary' %>
            <%= form.text_field :fantasia, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :tipo_pessoa, 'Tipo Pessoa', class: 'col-form-label text-secondary' %>
            <%= form.select :tipo_pessoa, options_for_select([['Física', 'fisica'], ['Jurídica', 'juridica']], form.object.tipo_pessoa), {}, class: 'form-control select2' %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <%= form.label :cpf_cnpj, 'CPF/CNPJ', class: 'col-form-label text-secondary' %>
            <%= form.text_field :cpf_cnpj, class: 'form-control form-control-lg', required: true %>
          </div>
          <div class="col-md-3">
            <%= form.label :email, 'Email', class: 'col-form-label text-secondary' %>
            <%= form.text_field :email, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :email_nota_fiscal, 'Email Nota Fiscal', class: 'col-form-label text-secondary' %>
            <%= form.text_field :email_nota_fiscal, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :fone, 'Fone', class: 'col-form-label text-secondary' %>
            <%= form.text_field :fone, class: 'form-control form-control-lg' %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <%= form.label :uf, 'UF', class: 'col-form-label text-secondary' %>
            <%= form.text_field :uf, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :endereco, 'Endereço', class: 'col-form-label text-secondary' %>
            <%= form.text_field :endereco, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :numero, 'Número', class: 'col-form-label text-secondary' %>
            <%= form.text_field :numero, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :complemento, 'Complemento', class: 'col-form-label text-secondary' %>
            <%= form.text_field :complemento, class: 'form-control form-control-lg' %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3">
            <%= form.label :bairro, 'Bairro', class: 'col-form-label text-secondary' %>
            <%= form.text_field :bairro, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :cep, 'CEP', class: 'col-form-label text-secondary' %>
            <%= form.text_field :cep, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :cidade, 'Cidade', class: 'col-form-label text-secondary' %>
            <%= form.text_field :cidade, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-3">
            <%= form.label :id_lista_preco, 'ID Lista de Preço', class: 'col-form-label text-secondary' %>
            <%= form.number_field :id_lista_preco, class: 'form-control form-control-lg' %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-2">
            <%= form.label :id_vendedor, 'ID Vendedor', class: 'col-form-label text-secondary' %>
            <%= form.number_field :id_vendedor, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-5">
            <%= form.label :nome_vendedor, 'Nome do Vendedor', class: 'col-form-label text-secondary' %>
            <%= form.text_field :nome_vendedor, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-5">
            <%= form.label :nome_responsavel_tel, 'Nome Responsável pelo Telefone', class: 'col-form-label text-secondary' %>
            <%= form.text_field :nome_responsavel_tel, class: 'form-control form-control-lg' %>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <%= form.label :situacao, 'Situação', class: 'col-form-label text-secondary' %>
            <%= form.text_field :situacao, class: 'form-control form-control-lg' %>
          </div>
          <div class="col-md-6">
            <%= form.label :data_criacao, 'Data Criação', class: 'col-form-label text-secondary' %>
            <%= form.date_field :data_criacao, class: 'form-control form-control-lg', disabled: true %>
          </div>
        </div>

        <div class="panel-buttons bg-secondary">
          <%= link_to contacts_path(origin: form.object.origin), class: 'btn btn-dark btn-lg' do %>
            <i class="fa fa-undo"></i> Voltar
          <% end %>
          <% unless read_only %>
            <%= form.button class: 'btn btn-primary btn-lg', data: { disable_with: @contact.new_record? ? 'Criando...' : 'Salvando...' } do %>
              <i class="fa fa-save"></i> <%= @contact.new_record? ? 'Criar Contato' : 'Atualizar Contato' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="table-tab">
      <div class="alert alert-dark mb-2"><i class="fa-solid fa-spinner fa-spin text-success"></i> Última atualização: <%= Time.now.strftime('%d/%m/%Y %H:%M') %></div>
        <div class="row">
          <div class="col-12">
            <table class="table table-dark table-hover table-responsive" style="overflow-x: scroll;" id="attemps-table">
              <thead>
                <tr>
                  <th width="50" class="text-center"><i class="fa fa-ellipsis-v"></i></th>
                  <th class="text-center"><%= 'id' %></th>
                  <th class="text-center"><%= 'numero' %></th>
                  <th class="text-center"><%= 'numero_ecommerce' %></th>
                  <th class="text-center"><%= 'data_pedido' %></th>
                  <th class="text-center"><%= 'data_prevista' %></th>
                  <th class="text-center"><%= 'nome' %></th>
                  <th class="text-center"><%= 'valor' %></th>
                  <th class="text-center"><%= 'situacao' %></th>
                </tr>
              </thead>
              <tbody>
                <% @all_contact_orders.each do |order| %>
                  <tr>
                    <td class="text-center"><i class="fa fa-ellipsis-v"></i></td>
                    <td class="text-center"><%= order[:pedido][:id] %></td>
                    <td class="text-center"><%= order[:pedido][:numero] %></td>
                    <td class="text-center"><%= order[:pedido][:numero_ecommerce] %></td>
                    <td class="text-center"><%= order[:pedido][:data_pedido] %></td>
                    <td class="text-center"><%= order[:pedido][:data_prevista] %></td>
                    <td class="text-center"><%= order[:pedido][:nome] %></td>
                    <td class="text-center"><%= number_to_currency(order[:pedido][:valor], unit: "R$", separator: ",", delimiter: ".") %></td>
                    <td class="text-center">
                      <%= case order[:pedido][:situacao]
                        when 'Aprovado'
                          '<span class="badge badge-success">Aprovado</span>'.html_safe
                        when 'Faturado'
                          '<span class="badge badge-primary">Faturado</span>'.html_safe
                        when 'Cancelado'
                          '<span class="badge badge-danger">Cancelado</span>'.html_safe
                        when 'Enviado'
                          '<span class="badge badge-warning">Enviado</span>'.html_safe
                        when 'Em aberto'
                          '<span class="badge badge-light">Em aberto</span>'.html_safe
                        else
                          order[:pedido][:situacao]
                        end
                      %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
      $('.table').DataTable();
  });
</script>