<div class="login">
  <div class="main">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
  </div>
  <div class="main_login">
    <div class="login-text row d-flex justify-content-center">
      <b><h5 class="text-primary page-header d-flex justify-content-center"></h5></b>
      <div class="col-4">
        <%= image_tag 'admin/agua_na_caixa_logo', style: 'width:65%;margin-top:7px;' %>
      </div>
      <div class="col-6">
        <%= render 'layouts/partials/messages' %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label 'Seu e-mail:', class: 'text-primary' %><br />
            <div class="input-group">
              <div class="input-group-text"><i class="fas fa-envelope"></i></div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>
          </div>

          <div class="field">
            <%= f.label 'Sua senha:' ,class: 'text-primary' %><br />
            <div class="input-group">
              <div class="input-group-text"><i class="fas fa-lock"></i></div>
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label 'Lembrar-me' %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Logar", class: 'btn btn-primary w-100' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  @media (max-width: 999px) {
    .main {
      display: none;
    }
  }
  .login-text {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 99999;
    position: fixed;
    padding: 2em;
    top: 27%;
    left: 25%;
    min-width: 37%;
    border-radius: 1.5em;
  }

  .login {
    margin-left: -19em !important;
    margin-top: 4em !important;
  }

  .luminoso {
    box-shadow: 0 0 21px 7px rgba(255, 255, 255, 0.7);
  }

 .d1 {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: 2700px 1500px;

  height: 30vh;
  width: 15vw;

  background-position: 0 50%;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  animation: dd1 10s 1, dd12 10s 1;
  animation-delay: 4s, 14s;
}
.d2 {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: 2700px 1500px;

  height: 50vh;
  width: 25vw;

  background-position: -10vw 50%;
  left: 10vw;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 10s 2;
  animation-delay: 4s;
}
.d3 {
  position: absolute;
  background-image: url("<%= asset_path('admin/back1.jpg') %>");
  overflow: hidden;

  height: 100vh;
  width: 40vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -35vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 10s 2;
  animation-delay: 4s;
}
.d4 {
  position: absolute;
  overflow: hidden;
  background-image: url("<%= asset_path('admin/back2.png') %>");

  height: 80vh;
  width: 25vw;
  left: 60vw;
  background-position: -70vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd4 10s 2;
  animation-delay: 4s;
}

@keyframes dd1 {
  0% {
  }
  50% {
    width: 95vw;
  }
}
@keyframes dd12 {
  0% {
  }
  50% {
    background-position: Calc(0vw - 40px) 50%;
  }
}
@keyframes dd2 {
  0% {
  }
  50% {
    background-position: Calc(-10vw - 40px) 50%;
  }
}
@keyframes dd3 {
  0% {
  }
  50% {
    background-position: Calc(-35vw - 40px) 50%;
  }
}
@keyframes dd4 {
  0% {
  }
  50% {
    background-position: Calc(-70vw - 40px) 50%;
  }
}

</style>