<div class="row">
  <% case params[:kinds] %>
  <% when 'create_order_tiny_1' %>
    <% title 'Tentativas de Criação de Pedidos no Tiny 1' %>
  <% when 'create_order_tiny_2' %>
    <% title 'Tentativas de Criação de Pedidos no Tiny 2' %>
  <% end %>
</div>

<div class="row d-flex justify-content-center">
  <div class="btn-group mb-3" role="group">
    <%= link_to attempts_path(kinds: params[:kinds], status: :success, search: params[:search]), class: 'btn btn-success text-light' do %> success <i class="fas fa-check"></i><% end %>
    <%= link_to attempts_path(kinds: params[:kinds], status: :fail, search: params[:search]), class: 'btn btn-danger text-light' do %> fail <i class="fas fa-times"></i><% end %>
    <%= link_to attempts_path(kinds: params[:kinds], status: :error, search: params[:search]), class: 'btn btn-secondary text-light' do %> error <i class="fa-solid fa-wrench"></i><% end %>
  </div>
</div>

<%= form_tag(attempts_path, method: 'get') do %>
  <div class="card mb-lg advanced-search-form bg-dark text-light" id="filters">
    <%= hidden_field_tag :status, {}, value: params[:status] %>
    <%= hidden_field_tag :kinds, {}, value: params[:kinds] %>
    <div class="card-header text-info">
      Pesquisa avançada
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <%= label_tag :search, 'Procurar' %>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Pesquise por número pedido Tiny/Nota Fiscal ou por erro' %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= button_tag class: 'btn btn-secondary text-info', name: '' do %><i class="fa fa-search text-info"></i> Pesquisar<% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12">
    <table class="table table-dark table-hover table-responsive" style="overflow-x: scroll;" id="attemps-table">
      <thead>
        <tr>
          <th width="50" class="text-center"><i class="fa fa-ellipsis-v"></i></th>
          <th class="text-center"><%= 'ID' %></th>
          <th class="text-center"><%= 'Tiny' %></th>
          <th class="text-center"><%= Attempt.human_attribute_name :kinds %></th>
          <th class="text-center"><%= Attempt.human_attribute_name :status_code %></th>
          <th class="text-center"><%= Attempt.human_attribute_name :error %></th>
          <th class="text-center"><%= Attempt.human_attribute_name :message %></th>
          <th class="text-center"><%= Attempt.human_attribute_name :created_at %></th>
        </tr>
      </thead>
      <tbody>
        <% @attempts.each do |attempt| %>
          <tr>
            <td>
              <% if params[:status] == 'success' %>
                <%= link_to reprocess_attempts_path(attempt_id: attempt.id), class: 'btn btn-sm btn-secondary text-info' do %> 
                  <i class="fa-solid fa-repeat"></i>
                <% end %>
              <% end %>
            </td>
            <td class="text-center"><%= attempt.id %></td>
            <td class="text-center">
              <%= attempt.tiny_order_id %> - 
              <span class="badge bg-primary" style="cursor: pointer;" onclick="window.open('<%=ENV.fetch('TINY_SELLS_URL')%>#edit/<%= attempt.tiny_order_id %>', '_blank');">
                Ver no Tiny
              </span>
            </td>
            <td class="text-center"><%= attempt.kinds %></td>  
            <td class="text-center">
              <% if attempt.status_code == 'OK' %>
                <span class="badge bg-success"><%= attempt.status_code %> - <%= attempt.message %></span>
              <% else %>
                <span class="badge bg-warning text-dark"><%= attempt.status_code %> - <%= attempt.message %></span>
              <% end %>
            </td>
            <td class="text-center"><%= attempt.error.present? ? attempt.error : "<span class='badge bg-secondary'>x</span>".html_safe %></td>
            <td class="text-center"><%= attempt.message.present? ? attempt.message : "<span class='badge bg-secondary'>x</span>".html_safe %></td>
            <td class="text-center"><%= attempt.created_at.strftime('%d/%m/%Y %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="12">
            <%= page_entries_info @attempts %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<%= will_paginate @attempts, list_classes: %w[pagination justify-content-center mt-lg], inner_window: 1 %>
