<% title 'Tentativas de Integração' %>

<div class="card bg-secondary" style="overflow-x:scroll;">
  <table class="table table-dark table-hover table-responsive" id="attemps-table">
    <thead>
      <tr>
        <th class="text-center"><%= Attempt.human_attribute_name :id %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :tiny_order_id %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :kinds %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :message %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :status %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :status_code %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :error %></th>
        <th class="text-center"><%= 'XML enviado' %></th>
        <th class="text-center"><%= Attempt.human_attribute_name :created_at %></th>
      </tr>
    </thead>
    <tbody>
      <% @attempts.each do |attempt| %>
        <tr>
          <td class="text-center"><%= attempt.id %></td>
          <td class="text-center" style="min-width:12em;">
            <%= attempt.tiny_order_id  %> -
            <span class="badge bg-primary" style="cursor: pointer;" onclick="window.open('<%=ENV.fetch('TINY_SELLS_URL')%>#edit/<%= attempt.tiny_order_id  %>', '_blank');">
              Ver no Tiny
            </span>
          </td>
          <td class="text-center"><%= attempt.kinds %></td>
          <td class="text-center"><%= attempt.message %></td>
          <td class="text-center"><%= attempt.status %></td>
          <td class="text-center"><%= attempt.status_code %> - <%= attempt.message %></td>
          <td class="text-center"><%= attempt.error %></td>
          <td class="text-center">
            <% if attempt.xml_nota.present? %>
              <button class="btn btn-primary" onclick="copiarConteudo(<%= attempt.id %>)">Copiar XML</button>
            <% end %>
            <span class="content<%= attempt.id %>" style="display:none">
              <%= attempt.xml_nota %>
            </span>
          </td>
          <td class="text-center"><%= attempt.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="12">
          <%= page_entries_info @attempts %>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<script>
  $(document).ready(function() {
      $('.table').DataTable();
  });

  function copiarConteudo(id) {

    var conteudo = document.querySelector('.content' + id);

    if (conteudo) {

        var texto = conteudo.textContent
        console.log(texto);
        var areaTransferencia = document.createElement('textarea');
        areaTransferencia.value = texto;

        document.body.appendChild(areaTransferencia);

        areaTransferencia.select();

        document.execCommand('copy');

        console.log('Conteúdo copiado!');
    }
}


</script>

<%= will_paginate @attempts, list_classes: %w[pagination justify-content-center mt-lg], inner_window: 1 %>
