<div class="row">
  <% case params[:origin] %>
  <% when 'primeiros_passos' %>
    <% title 'Produtos Tiny - Primeiros Passos' %>
  <% when 'agua_na_caixa' %>
    <% title 'Produtos Tiny - Água na Caixa' %>
  <% end %>
</div>

<%= link_to to_do_dashboard_index_path, class: 'btn btn-sm btn-primary text-light mb-lg' do %>
  <i class="fa fa-plus"></i> Novo produto
<% end %>

<%= form_tag(products_path, method: 'get') do %>
  <%= hidden_field_tag :origin, params[:origin] %>
  <div class="card mb-lg advanced-search-form bg-dark text-light" id="filters">
    <div class="card-header text-info">
      Pesquisa avançada
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <%= label_tag :search, 'Procurar' %>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Pesquise por nome, código ou outros detalhes' %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= button_tag class: 'btn btn-secondary text-info', name: '' do %><i class="fa fa-search text-info"></i> Pesquisar<% end %>
    </div>
  </div>
<% end %>

<%= will_paginate @products, list_classes: %w[pagination justify-content-center mt-lg], inner_window: 1 %>

<div class="row">
  <div class="col-12">
    <table class="table table-dark table-hover table-responsive" style="overflow-x: scroll;" id="products-table">
      <thead>
        <tr>
          <th width="150" class="text-center"><i class="fa fa-ellipsis-v"></i></th>
          <th class="text-center"><%= 'ID' %></th>
          <th class="text-center"><%= Product.human_attribute_name :codigo %></th>
          <th class="text-center"><%= Product.human_attribute_name :nome %></th>
          <th class="text-center"><%= Product.human_attribute_name :preco %></th>
          <th class="text-center"><%= Product.human_attribute_name :unidade %></th>
          <th class="text-center"><%= Product.human_attribute_name :gtin %></th>
          <th class="text-center"><%= Product.human_attribute_name :tipoVariacao %></th>
          <th class="text-center"><%= Product.human_attribute_name :localizacao %></th>
          <th class="text-center"><%= Product.human_attribute_name :preco_custo %></th>
          <th class="text-center"><%= Product.human_attribute_name :preco_custo_medio %></th>
          <th class="text-center"><%= Product.human_attribute_name :situacao %></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="text-center">
              <%= link_to to_do_dashboard_index_path, class: 'btn btn-sm btn-primary text-light' do %> 
                <i class="fa fa-pencil-alt"></i>
              <% end %>
              <%= link_to to_do_dashboard_index_path, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-sm btn-danger text-light' do %> 
                <i class="fa fa-trash"></i>
              <% end %>
              <%= link_to to_do_dashboard_index_path, class: 'btn btn-sm btn-secondary text-light' do %> 
                <i class="fa fa-eye"></i>
              <% end %>
            </td>
            <td class="text-center"><%= product.id %></td>
            <td class="text-center"><%= product.codigo %></td>
            <td class="text-center"><%= product.nome %></td>
            <td class="text-center"><%= number_to_currency(product.preco, unit: 'R$', precision: 2) %></td>
            <td class="text-center"><%= product.unidade %></td>
            <td class="text-center"><%= product.gtin %></td>
            <td class="text-center"><%= product.tipoVariacao %></td>
            <td class="text-center"><%= product.localizacao %></td>
            <td class="text-center"><%= number_to_currency(product.preco_custo, unit: 'R$', precision: 2) %></td>
            <td class="text-center"><%= number_to_currency(product.preco_custo_medio, unit: 'R$', precision: 2) %></td>
            <td class="text-center"><%= product.situacao %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="13">
            <%= page_entries_info @products %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<%= will_paginate @products, list_classes: %w[pagination justify-content-center mt-lg], inner_window: 1 %>
</div>
