<header class="navbar-header bg-dark">
  <div class="navbar-brand">
    <div class="brand-logo bg-dark">
      <div class="d-flex p-2">
        <%= image_tag 'admin/agua_na_caixa_logo', style: 'width:20%;' %>
        <span class="mt-2 h2">+</span>
        <%= image_tag 'admin/tiny_logo', style: 'width:18%; height:20%; border-radius:5px;' %>
      </div>
    </div>
  </div>
  <div class="navbar-content text-white">
    <span class="badge bg-dark"><%= yield :title %></span>
  </div>
  <div class="navbar-dropdowns">
    <nav class="navbar navbar-expand-sm">
      <span class="badge bg-dark">
        <%= image_tag 'admin/usuario-200x200', class: 'mb-1', style: 'width:15%; border-radius: 50%;' %>
        <strong class="text-white"><%= current_user.name %></strong>
        <%= link_to destroy_user_session_path(current_user), data: { turbo: :false } do %>Sair<% end %>
      </span>
    </nav>
  </div>
</header>