<aside class="left-menu bg-dark">
  <div class="aside-inner">
    <div class="flex-shrink-0 p-3 text-white">
      <ul class="nav nav-pills flex-column mb-auto">
        <a class="btn btn-secondary text-info mb-3" href="/" role="button">
          <i class="fa-regular fa-house"></i> <span class="name-button"> Home </span>
        </a>
        
        <a class="btn btn-secondary text-info mb-3" data-bs-toggle="collapse" href="#collase-dashboard" role="button" aria-expanded="false" aria-controls="collase-dashboard">
          <i class="justify-content-center fa-regular fa-concierge-bell"></i> <span class="name-button"> Dashboard </span><i class="fa fa-angle-down arrow"></i>
        </a>
        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-dashboard">
          <div class="mb-3 col-icon"> 
            <%= link_to dashboard_index_path, class: 'text-light link' do %>
              <i class="fa-solid fa-binoculars text-info"></i>
              <span class="name-col text-white">
                Painel Dashboard
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-secondary text-info mb-3" data-bs-toggle="collapse" href="#collase-users" role="button" aria-expanded="false" aria-controls="collase-correios">
          <i class="fa-regular fa-gear"></i> <span class="name-button">Administração </span> <i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-users">
          <div class="mb-3 col-icon"> 
            <%= link_to users_path, class: 'text-light link' do %>
              <i class="fa-solid fa-user text-info link"></i>
              <span class="name-col">
                Usuários
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-users">
          <div class="mb-3 col-icon"> 
            <%= link_to profiles_path, class: 'text-light link' do %>
              <i class="fa-solid fa-id-badge text-info link"></i>
              <span class="name-col">
                Perfis de usuário
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-secondary text-info mb-3" data-bs-toggle="collapse" href="#collase-attempts" role="button" aria-expanded="false" aria-controls="collase-correios">
          <i class="fa-regular fa-hourglass"></i> <span class="name-button">Histórico de Tentativas </span> <i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3 col-icon"> 
            <%= link_to attempts_path(kinds: :create_order_primeiros_passos), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Criação pedidos no Tiny - Primeiros Passos
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3 col-icon"> 
            <%= link_to attempts_path(kinds: :create_order_agua_na_caixa), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Criação pedidos no Tiny - Água na Caixa
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3 col-icon"> 
            <%= link_to attempts_path(kinds: :update_contact_primeiros_passos), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Atualização contato no Tiny - Primeiros Passos
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-attempts">
          <div class="mb-3 col-icon"> 
            <%= link_to attempts_path(kinds: :update_contact_agua_na_caixa), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Atualização contato no Tiny - Água na Caixa
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-secondary text-info mb-3" data-bs-toggle="collapse" href="#collase-orders" role="button" aria-expanded="false" aria-controls="collase-correios">
          <i class="fa-regular fa-file-circle-plus"></i> 
          <span class="name-button"> Pedidos </span>
          <i class="fa fa-angle-down arrow"></i>
        </a>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-orders">
          <div class="mb-3 col-icon"> 
            <%= link_to tiny_orders_orders_path(kinds: 'primeiros_passos'), class: 'text-light link', target: '_blank' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Tiny - Primeiros Passos <span class="badge bg-success"> Live </span>
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-orders">
          <div class="mb-3 col-icon"> 
            <%= link_to tiny_orders_orders_path(kinds: 'agua_na_caixa'), class: 'text-light link', target: '_blank' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Tiny - Água na Caixa <span class="badge bg-success"> Live </span>
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-orders">
          <div class="mb-3 col-icon"> 
            <%= link_to orders_path, class: 'text-light link' do %>
              <i class="far fa-calendar-plus text-info link"></i>
              <span class="name-col">
                Criação de Pedidos
              </span>
            <% end %>
          </div>
        </div>

        <a class="btn btn-secondary text-info mb-3" data-bs-toggle="collapse" href="#collase-registrations" role="button" aria-expanded="false" aria-controls="collase-correios">
          <i class="fa-regular fa-file-circle-plus"></i> 
          <span class="name-button"> Cadastros </span>
          <i class="fa fa-angle-down arrow"></i>
        </a>

         <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-registrations">
          <div class="mb-3 col-icon"> 
            <%= link_to contacts_path(origin: 'primeiros_passos'), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Contatos - Primeiros Passos
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-registrations">
          <div class="mb-3 col-icon"> 
            <%= link_to contacts_path(origin: 'agua_na_caixa'), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Contatos - Água na Caixa
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-registrations">
          <div class="mb-3 col-icon"> 
            <%= link_to products_path(origin: 'primeiros_passos'), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Produtos - Primeiros Passos
              </span>
            <% end %>
          </div>
        </div>

         <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-registrations">
          <div class="mb-3 col-icon"> 
            <%= link_to products_path(origin: 'agua_na_caixa'), class: 'text-light link' do %>
              <i class="fa-solid fa-file-invoice text-info link"></i>
              <span class="name-col">
                Produtos - Água na Caixa
              </span>
            <% end %>
          </div>
        </div>

        <div class="justify-content-center flex-column mb-auto collapse mb-3" id="collase-registrations">
          <div class="mb-3 col-icon"> 
            <%= link_to order_payment_types_path, class: 'text-light link' do %>
              <i class="fas fa-money-check-alt text-info link"></i>
              <span class="name-col">
                Tipos de Pagamento</span>
              </span>
            <% end %>
          </div>
        </div>

      </ul>
    </div>
  </div>
  <hr>
</aside>
<style>
  @media (max-width: 999px) {
    
  .navbar-header .navbar-content {
    display:none !important;
  }
  .col-icon {
    display: flex;
    justify-content: center;
  }
  .name-col {
    display:none;
  }

  .navbar-header .navbar-dropdowns {
    float: inline-start;
    margin-left:8em;
  }

  .name-button,
  .logo-agua-na-caixa {
    display:none !important;
  }

  .left-menu {
    width: 70px !important;
  }
  
  .wrapper > section:not(.sem-menu) {
    margin-left: 60px !important;
  }

  .navbar-header .navbar-brand .brand-logo,
  .navbar-header .navbar-brand  {
    width: 205px !important;
  }

  .wrapper > section > .content-wrapper .row {
    margin-top: -7px !important;
  }
}

@media (min-width: 1000px) {
  
}
</style>